<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.shardingsphere.mapper.UserMapper">

    <select id="selectAll" resultType="com.spring.boot.shardingsphere.entity.User">
        select user_id, fullname, pwd, mobile, id_card from t_user
    </select>

    <insert id="insertNew" parameterType="com.spring.boot.shardingsphere.entity.User">
        insert into t_user (user_id, fullname, age, birthday, pwd, mobile, id_card)
        values (#{userId}, #{fullname}, #{age}, #{birthday}, #{pwd}, #{mobile}, #{idCard})
    </insert>

</mapper>
