<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod=" 5 seconds">

    <appender name="skywalking-console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <Pattern>SkyWalking STDOUT %d{yyyy-MM-dd HH:mm:ss.SSS} [%X{tid}] [%thread] %-5level %logger{36} %-4line: -%msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <!-- SkyWalking Trace Log 使用该appender -->
    <appender name="skywalking-grpc" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <Pattern>SkyWalking GRPC %d{yyyy-MM-dd HH:mm:ss.SSS} [%X{tid}] [%thread] %-5level %logger{36} %-4line: -%msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="skywalking-file" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/skywalking-logs/logback/spring-boot-skywalking.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <Pattern>SkyWalking FILE [%sw_ctx] [%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger:%line - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="skywalking-grpc"/>
        <appender-ref ref="skywalking-console"/>

        <!-- 添加此行日志文件才有内容输出 -->
        <!--        <appender-ref ref="skywalking-file"/>-->
    </root>

    <logger name="fileLogger" level="INFO">
        <appender-ref ref="skywalking-file"/>
    </logger>
</configuration>